// BUTTONS

button {
    background-color: $highlight01;
    color: $white;
    padding: 15px 25px;
    border-radius: 40px;
    margin: 10px;
    border: 10px opacity 5% rgb(0, 0, 255, 0);
    outline: 2px solid $highlight01;

    
  
   
}
