// SITE BRAND COLOURS


//I've given these variables nondescript names incase the whole branch color palette changes

$dark01: #000095; //top heading banner
$dark02: #2A4789; //Section heading text
$dark03: #200D6F;
$dark04: #27117F; // Stay up to date section

$highlight01: #F93B84; //buttons and link text
$highlight02: #3B8EF9; //Buttons subheadings, fb icon
$highlight03: #B3A7E3; //Footer text
$highlight04: #7F3FD1; //Insta icon

$polygon: #F1F5FB; // background polygons

$white: #fff;
$palegrey: #E1E1E1;
$grey: #5A6488

// $gradiant: TBC
