// Gallery for client carousel

.gallery {
    max-width: 80%;
	padding: 1rem;
	display: flex;
    overflow: scroll;
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
}

.gallery-img {
    min-width: 300px;
    padding: 10px;
    margin:5px;
    position: relative;
    z-index: 5;
    &:hover,
    &:focus {
           background-color: rgba(0, 0, 0, 0.212);
           box-shadow: 0 0 5px #rgba(0, 0, 0, 0.212);
           border-radius: 10px;
           min-width: 310px;
           transition-timing-function: ease-in;
           transition: 0.2s;
       }

        img {
            background-color: rgba(0, 0, 0, 0.212);
            max-width: 80%;
            border-radius: 5px; 
            padding: 5px;
            z-index: 3;
            
           

     }

    

   

    li {
        scroll-snap-align: center;
    
    }
    
    .gallery-logo {
        position: absolute;
        top: 35%;
        right: 30%;
        width: 50%;

    }



}

    


