
@import 'colours';

//HEADER

$ease: background .8s ease;

.cta {
    position: fixed;
    height: 60px; //taken from sketch mock up
    padding: 10px;
    color: $white;
    text-align: center;
    width: 100%;
    z-index: 1; //make sure top CTA remains sticky to top of screen
    background-color: $dark01;
}

.main-header {
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; //taken from sketch mock up
    width: 100vw;
    padding: 0 20vw; // Keeps logo etc within hero image 
    color: rgb(247, 238, 238);
    z-index: 1; // Nav always appears on top below CTA
    transition: .4s ease-out; //brackground colour of menu eases in on scroll

    a {
      text-decoration-style: none;
      color: inherit;
      
    }

    .nav-links {
        display: flex;
        list-style: none;

      .nav-link {

        a{
            margin: .2rem;
            padding: 1.5rem 1rem;
            text-decoration: none;

        }
        a:hover {
            background: rgba(80, 179, 224, 0.74); // strong visual change to help with accessibility
            border-radius: 6px;
            text-decoration: underline;
            color: #000;
            font-weight: bold;

        }
      }
    }

    .menu-icon {  //wrapper around burger menu
        position: relative;
        padding: 26px 10px;
        cursor: pointer;
        z-index: 1;
        display: none;  //Make sure only visually hidden and can be accessed by screen reader on mob

        // The burger menu lines:
        &__line {  // middle line
            display: block;
            position: relative;
            background: $highlight01;
            height: 2px;
            width: 20px;
            border-radius: 4px;
            transition: $ease;

            &::before, &::after { // Additional 2 lines
                content: '' ;
                background: $highlight01;

                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                transition: $ease;
            }
            &::before {
                transform: translateY(-5px);  // places bar 5 px up
            }
            &::after {
                transform: translateY(5px);  // places bar 5 px down
            }
        }
    }

    .menu-btn {
        display: none;  //Hides the checkbox for the burger menu that will be targeted by the javascript

    }

    //Js class to add background to menu on scroll
    &.scrolled {
        height: 50px;
        background: rgba(0,0,0, 0.9);
        color: #fff;

        .menu-icon { //setting the background of burger menu to white when page scrolled
            &__line,
            &__line::before,
            &__line::after {
                background: #ffff
            }

        }
    }
}

