@import 'colours';
// RESPONSIVE HERO IMAGE

.hero {
   height: 100vh;
   width: 100vw;
   background: url('../assets/hero.jpg') no-repeat;  // use srcset to scale down image on mob
   background-position:center;
   bottom: center;
   display: flex;
   justify-content: center;  //needs to be 100% 
   align-items: center;
   padding: 0 10vw; 
   color: #fff;
   

   h1 {
      position: relative;
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;
      
      padding: 2rem;
      border-radius: 20px 0;
   

   }

   .hero-text {
      width: 60%;
      text-align: center;
   }
}
