@import 'colours';
// RESPONSIVE HERO IMAGE

.hero {
   height: 100vh;
   width: 100vw;
   background: url('../assets/hero.jpg') no-repeat;  // use srcset to scale down image on mob
   background-position:center;
   bottom: center;
   display: flex;
   justify-content: center;  //needs to be 100% 
   align-items: center;
   padding: 0 10vw; 
   color: $white;

  
   

   h1 {
      position: relative;
      font-size: 4rem;
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      color: rgba(248, 239, 239, 0.1);
      text-shadow: 2px 2px 4px #000000;
      -webkit-text-stroke: 2px white;
      padding: 2rem;
      border-radius: 20px 0;
      max-width: 500px;
   

   }

   .hero-text {
      min-width: 7rem;
      text-align: center;
   }

   p {
      color: $white;
   }
}



