
// test scss to see if watching is doing a watch
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
    .inner-container {
     @include flex-center;
  }
}

// Partials

@import 'typography';
@import 'hero';
@import 'header';
// @import 'breakpoints';
@import 'media';
@import 'animation';
@import 'colours';
@import 'buttons';
@import 'section';
@import 'gallery';




* {
    box-sizing: border-box;
    margin: 0 auto;
    font-size: calc(13px + 0.390625vw);   // for responsive font size
}


body {
    margin: 0 auto;
    font-family: $secondary-font;
    
}

p, {
    color: $grey;
    padding: 5px;
   
   
}

h3,
h4,
h5 {
    padding: 5px;
}

// The sass below is based on the navigation tutorial and then adjusted after viewing hifi wireframes

.container {
    width: 80%;
    margin: 2rem auto;

    p {
        margin: 1rem 0;
    }
}

ul {
    list-style: none;
}

a:hover,   //obvious visual transition on focus and hover
a:focus {
    background-color: #000;
    box-shadow: 0 0 50px rgba(219, 206, 206, 0.158);
    transition-timing-function: ease-in;
    transition: 0.2s;
} 

