
// test scss to see if watching is doing a watch
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
    .inner-container {
     @include flex-center;
  }
}

// Partials

@import 'typography';
@import 'hero';
@import 'header';
// @import 'breakpoints';
@import 'media';
@import 'animation';
@import 'colours';
@import 'buttons';
@import 'section';
@import 'video';



* {
    box-sizing: border-box;
    margin: 0 auto;
    //padding: 0;
}

body {
    margin: 0 auto;
    font-family: $primary-font;
}

p {
    color: $grey;
}

// The sass below is based on the navigation tutorial and then adjusted after viewing hifi wireframes

.container {
    width: 80%;
    margin: 2rem auto;

    p {
        margin: 1rem 0;
    }

}

ul {
    list-style: none;

}
