
// test scss to see if watching is doing a watch
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 100%;
    .inner-container {
     @include flex-center;
  }
}

// Partials

@import 'typography';
@import 'nav';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $primary-font;
}


// The sass below is based on the navigation tutorial and may need adjusting when sketch design seen

.container {
    width: 80%;
    margin: 2rem auto;

    p {
        margin: 1rem 0;
    }

}
